/* .container {
    minheight: calc(100vh - 50px);
    display: flex;
    alignitems: center;
    justifycontent: center;
  }
  
  .title {
    fontweight: 500;
    fontsize: 48px;
    textalign: center;
  } */