#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 560px;
  margin: 50px auto;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 5px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
p,
h1 {
  margin: 0;
}